body, html, #root, #root > div {
  margin: 0;
  padding: 0;
}


.game{
  background-image: url('../assets/background.png');
  padding: 10px;
  text-align: center;
  width: auto;
  height: 100vh;
  margin: 0px;
}

.result, h3{
  padding: 10px;
  font-size: 50px;
  text-align: center;
  color: black;
  font-family: cursive;
}

.choices{
  display: flex;
  align-items: center;
  justify-content: center;
}

.choice{
  height: 300px;
  width: 350px;
}

.gesture{
  height: 350px;
  width: 350px;
}

.vs{
  text-align: center;
  font-size: 50px;
  color: black;
  font-family: cursive;
  margin: 100px;
}

.button{
  height: 150px;
  width: 150px;
  margin-top: 50px;
}