body, html, #root, #root > div {
  margin: 0;
  padding: 0;
}


.game{
  background-image: url('../src/assets/background.png');
  padding: 10px;
  text-align: center;
  width: auto;
  height: 100vh;
  margin: 0px;
}

.result, h3{
  padding: 10px;
  font-size: 4vw;
  text-align: center;
  color: black;
  font-family: cursive;
}

.choices{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.choice{
  height: 20vw;
  width: 80vw;
  margin-bottom: 10px;
}

.gesture{
  height: 40vw;
  width: 60vw;
}

.vs{
  text-align: center;
  font-size: 4vw;
  color: black;
  font-family: cursive;
  margin: 100px;
}

.button{
  height: 18vw;
  width: 18vw;
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .game {
    height: auto; 
  }

  .result, h3 {
    font-size: 6vw;
  }

  .vs {
    margin-bottom: 9vh; 
  }
}